@import "./variables.scss";

@mixin boxShadow{
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@mixin fadeKeyframes{
    @-webkit-keyframes fade {
        0%   {opacity:0;}
        100%  {opacity:1;}
    }
    /* Standard syntax */
    @keyframes fade {
        0%   {opacity:0;}
        100%  {opacity:1;}
    }
}
@mixin mediaMiniFont{
    @media (max-width:$breakTablet)  {
        font-size:$normalFont;
    }
    @media (max-width:$breakPhoneLandscape)  {
        font-size:$semiFont;
    }
}
@mixin redGradient{
    background: $mainRed;  
    background: -webkit-linear-gradient(to left, $secondaryRed, $mainRed); 
    background: linear-gradient(to left, $secondaryRed, $mainRed); 
    color:#fff;
    transition:all 0.25s ease-in-out;
}
@mixin greenGradient{
    background: $mainGreen;  
    background: -webkit-linear-gradient(to left, $secondaryGreen, $mainGreen); 
    background: linear-gradient(to left, $secondaryGreen, $mainGreen); 
    color:#fff;
    transition:all 0.25s ease-in-out;
}
@mixin flatGreyGradient{
    background: #D3CCE3; 
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);    
    color:#fff;
    transition:all 0.25s ease-in-out;
}
@mixin headerGradient{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    transition:all 0.25s ease-in-out;
}
@mixin button{
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    background: $boldRed;
    color:#fff;
    transition:all 0.25s ease-in-out;
    border:solid 1px $boldRed;
    box-sizing: border-box;
    &:hover{
        background:#fff;
        color:$boldRed;
        font-weight:bold;
    }
}