@import "../variables.scss";
@import "../mixins.scss";
.header{
    border-bottom:solid 2px $mainRed;
    position: fixed;
    top:0;
    width:100%;
    z-index:1;
    @include headerGradient;
    padding-top:20px;
    .menu{
        display:flex;
        justify-content: center;
        a{
            background: #fff;
            margin-right:25px;
            padding:5px 20px;
            border:solid 2px $mainRed;
            border-bottom:none;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            text-decoration: none;
            color:$mainBlack;
            font-size:$headingSmall;
            &:hover {
                @include redGradient;
            }
            @media (max-width:$breakPhoneLandscape)  {
                font-size:$XLFont;
                padding: 5px 10px;
                margin-right:10px;
            }
        }
        a.active{
            @include redGradient;
        }
    }
}