@import '../mixins';
.listWrapper{
    display: block;
    max-width:1208px;
    margin: 0 auto;
    .list{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top:30px;
        .card{
            border-radius:5px;
            padding:10px;
            @include boxShadow;
            width:21.5%;
            margin-bottom:30px;
            word-wrap: break-word;
        }
    }
}