@import "./variables.scss";

@mixin boxShadow{
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@mixin fadeKeyframes{
    @-webkit-keyframes fade {
        0%   {opacity:0;}
        100%  {opacity:1;}
    }
    /* Standard syntax */
    @keyframes fade {
        0%   {opacity:0;}
        100%  {opacity:1;}
    }
}
@mixin mediaMiniFont{
    @media (min-width:$breakPhoneLandscape)  {
        font-size:$semiFont;
        height:16px;
    }
    @media (min-width:$breakTablet)  {
        font-size:$normalFont;
        height:$normalFont;
    }
}
@mixin redGradient{
    background: $mainRed;  
    background: -webkit-linear-gradient(to left, $secondaryRed, $mainRed); 
    background: linear-gradient(to left, $secondaryRed, $mainRed); 
    color:#fff;
    transition:all 0.25s ease-in-out;
}