/*=================== VARIABLES ===================*/

/*==== COLORS ====*/
$mainBlack: #1e272e;
$mainRed: #EB3349;
$secondaryRed: #F45C43;
$mainGreen: #05c46b;
$secondaryGreen: #0be881;
$mainGrey: #28313b;
$secondaryGrey: #485461;
$mainPurple:#9b59b6;
$mainBlue:#3498db;
$boldBlue:#007bff;
$cancelGrey: #6c757d;

/*==== COMMON COLORS ====*/
$boldRed: #EA2027;

/*==== FONT-SIZES ====*/
$headingBig:25px;
$headingSmall:22px;
$headingXS:20px;
$XLFont:18px;
$advanceFont:16px;
$largeFont:15px;
$normalFont:14px;
$semiFont:13px;
$miniFont:12px;

/*==== MEDIA QUERIES BREAK ====*/
$breakPhone: 320px;
$breakPhoneLandscape: 481px;
$breakTablet: 801px;
$breakMainWrapper: 1208px;