/*=================== VARIABLES ===================*/

/*==== COLORS ====*/
$mainBlack: #1e272e;
$mainRed: #EB3349;
$secondaryRed: #F45C43;

/*==== FONT-SIZES ====*/
$headingBig:25px;
$headingSmall:22px;
$headingXS:20px;
$advanceFont:16px;
$largeFont:15px;
$normalFont:14px;
$semiFont:13px;
$miniFont:12px;

/*==== MEDIA QUERIES BREAK ====*/
$breakPhone: 320px;
$breakPhoneLandscape: 481px;
$breakTablet: 801px;